.food-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 220px;
  z-index: 2;

  animation: floatImage 4s ease-in-out infinite;
  transition: transform 0.4s ease;
}

.food-image:hover {
  transform: scale(1.03);
}
@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
.image-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.18);
  top: 40px;
  left: -80px;
  border-radius: 220px;
  filter: blur(2px);
  z-index: 0;

  animation: shadowMove 4s ease-in-out infinite;
}
@keyframes shadowMove {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px) scale(0.98);
  }

  100% {
    transform: translateY(0px);
  }
}